
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/sporesan.github.io/config/applicationhost.config
.vs/sporesan.github.io/FileContentIndex/189072e4-07d6-4990-9063-7390b57fa678.vsidx
.vs/sporesan.github.io/FileContentIndex/18ea6b4e-5b28-4ea8-982b-490d094d0bb1.vsidx
.vs/sporesan.github.io/FileContentIndex/b440e635-08ed-4b53-9995-367c430f3530.vsidx
.vs/sporesan.github.io/FileContentIndex/dece4a4d-861c-4b60-a991-d3328f900caa.vsidx
.vs/sporesan.github.io/FileContentIndex/11a9cf08-d520-4da8-9786-93dbe9ffa643.vsidx
.vs/sporesan.github.io/FileContentIndex/245733ae-2db3-4442-a8dd-5fff978f135e.vsidx
.vs/sporesan.github.io/FileContentIndex/b406c374-9c82-49b8-8382-66b3cf040821.vsidx
.vs/sporesan.github.io/FileContentIndex/read.lock
