body{
	text-align:center;
	margin:auto;
	padding:0;
}
nav ul {
	display: inline-block;
	list-style: none;
}

#mainMenu {
	margin: 10px;
	font-family: sans-serif;
	position: relative;
}
#mainMenu li {
	display: inline-block;
	float:left;
	margin-left:2px;
}
#mainMenu a {
	display: inline-block;
	width: max-content;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#e31010;
}

#mainMenu a:hover {
	background-color:#e31010;
	color:#000;
}

#mainMenu li::after{
	content:'|'
}

#background{
	font-size: 1.5rem;
	margin-bottom: 5px;
}

#background dd{
	font-size: 1.25rem;
}